/* Configuration Xtel
 *				
 *	Installation du démon		INSTALLDEMON
 *	Toolkit OSF-Motif		MOTIF		(pour les riches)
 *	Pas de TERMIO			NO_TERMIO	(pour les intégristes BSD)
 *	Pas de sélecteur de fichier	NO_SEL_FILE	(pour les nostalgiques)
 *	Pas de jolis boutons		LOW_MEMORY
 *	Pas de lib Xpm			NO_XPM
 *      Fontes OpenWindows		OPENWINDOWS	(pour les malchanceux)
 *	Utilisation de syslogd		SYSLOG
 *	Debug xteld			DEBUG_XTELD
 *	RedHat Linux			REDHAT
 * 	Pas de popup-menu		DONT_USE_POPUP  (pb LessTif)
 */

/* Pour installer le démon */
#define INSTALLDEMON

/* Pour générer avec OSF-Motif */
/*#define MOTIF*/

/* Pour ne pas utiliser TERMIO */
/*#define NO_TERMIO*/

/* Pour ne pas utiliser le sélecteur de fichier (sous Athena) */
/*#define NO_SEL_FILE*/

/* Pour les radins */
/*#define LOW_MEMORY*/

/* Pour ne pas utiliser XPM */
/*#define NO_XPM*/

/* Pour utiliser des fontes OpenWindows */
/*#define OPENWINDOWS*/

/* Pour utiliser syslog/syslogd */
#define SYSLOG

/* Pour purify */
/*#define PURE*/

/* Pas de Télétel vitesse rapide */
/*#define NO_TVR*/

/* Pour debug du demon "xteld" */
#define DEBUG_XTELD

/* Pour la distribution RedHat Linux */
#define REDHAT

/* Pas de popup-menu (pb LessTif) */
#define DONT_USE_POPUP
